body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* html,
body {
  height: 100vh;
  overflow: hidden;
} */
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.innerTop {
  background-color: aqua;
  height: 200px;
}
.innerBottom {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  height: 200px;
  overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #727272;
}